@model IEnumerable<CRUDAssignment.Student_data>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Student_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student_Contact)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Student_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student_Contact)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Student_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Student_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Student_Id })
        </td>
    </tr>
}

</table>
